
<header>
    <link href="~/css/menue.css" rel="stylesheet" />
</header>

<section class="flex-header">

    <ul class="navigation">
        <li><a id="first" href="/home/index"><img style="width: 80px" src="~/img/F1-logo.png" alt=""></a></li>
        <li><a href="/home/index">Home</a></li>
        <li><a href="/home/aboutUs">News</a></li>
        <li><a href="/shop/index">Fanshop</a></li>
        <li><a href="/history/index">Geschichte</a></li>
    </ul>

    <ul class="navigation right">
        <li><a href="/user/index"><img style="width:50px; margin:10px;" src="~/img/lock.png" alt=""></a></li>
        <li>
            <form action="">
                <input class="nav-search" type="search" placeholder="Suche">
            </form>
        </li>
    </ul>

</section>

