@model F1_News.Models.systemMessage

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SYSTEM</title>
</head>
<body>
    <h1>@Model.Header</h1> <br />
    <b>@Model.MessageText</b>
</body>
</html>
