
@font-face {
    font-family: F1B;
    src: url(../fonts/Formula1-Bold_web_0.ttf);
}

*{
    font-family: F1B;
}


/* #############    HEADER    ############*/
.flex-header {
    position: fixed;
    background: white;
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: space-between;
    top: 0;
    background-color: white;
    z-index: 500000;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200%;
    list-style: none;
    margin: 0;
    font-size: x-large;
    box-shadow: 0px 2px 0px #a4161a;
}

.right {
    justify-content: flex-end;
}

    .right > * {
        padding-inline: 5px;
    }

.navigation a {
    text-decoration: none;
    color: #a4161a;
    transition: transform 250ms ease-in;
    z-index: 10;
    display: inline-block;
}

    .navigation a:hover {
        transform: scale(1.2);
    }

.flex-login {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
}

#first {
    padding: 0;
}

.nav-search {
    border-color: #a4161a;
    color: #660708;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 10px;
    margin-right:30px;
    height: 30px;
    border-radius: 40px;
    padding: 10px;
    outline: none;
    transition: transform 250ms ease-in;
}

    .nav-search:hover {
        transform: scale(1.1);
    }
