.col-sm {
    border-radius: 20px;
    border-left: 10px solid #ff0000;
    border-bottom: 10px solid #ff0000;
    color: red;
    background-color: white;
    text-align: center;
}

#articlelink:link {
    color: #a4161a;
    text-decoration: none;
}

#articlelink:hover{
    text-decoration: underline;
}
