

.article {
    width: 280px;
    height: 330px;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-left: 10px solid #ff0000;
    border-bottom: 10px solid #ff0000;
    box-shadow: black 0px 0px 5px;
    color: red;
    text-align: left;
    padding: 20px;
    text-align: center;
    transition: all 0.2s ease-in
}

    .article:hover {
        transform: translate3d(5px, 5%, 1em);
    }

    .article:visited {
        color: mediumpurple;
    }

.aname:hover {
    text-decoration-line: underline;
}

.aprice {
    font-size: 30px;
    color: black;
}

#articlelink {
    position: fixed;
    float: left;
}

    #articlelink:link {
        color: red;
        text-decoration: none;
    }

    #articlelink:hover {
    }
