*{
    border: 1px solid black;
}

#container {
    width: 100%;
    min-width: 640px;
    margin: 0px auto;
}

main {

    background-color: dimgrey;
    width: 100%;
    height: 500px;
    min-width: 340px;
    min-height: 520px;

}

header {
    height: 150px;
    border-bottom: 1px solid #808080;
    background-color: dimgrey;
}

footer {
    background-color: darkgray;
    height: 100px;
    text-align: right;
    padding: 12px 20px 0px 0px;

}


nav {
    width: 100%;
    min-width: 150px;
    float:inline-end;
    min-height: 50px;

}

.navbar-nav > li {
    margin-left: 30px;
    margin-right: 30px;
    
}



