

h1{
    color: red;
}
h2{
    color:darkred;
}

body {
    background-image: url(../img/bg.jpg);
    filter: blur(4px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    padding: 10px;
    /*border-top: 10px solid #ff0000;*/
    border-left: 10px solid #ff0000;
    border-bottom: 10px solid #ff0000;
    border-radius: 0px 20px 0px 20px;
    width: max-content;
    z-index:2;
    box-shadow: black 0px 0px 5px;
}

.form-container {
    font-size: 18px;
    position: relative;
    margin-inline: 3rem;
    width: max-content;
    z-index:2;
}



input {
    border-radius: 50px;
    border: 2px solid #ff0000;
    padding: .5rem;
    transition: 2s background ease;
    text-decoration: none;
}

input:focus {
    outline: none;
}

    input:hover {
        background-color: red;
        color: black;
    }
span{
    color:darkred;
    font-size:small;
}
  
select {
    border-radius: 50px;
    border: 2px solid #ff0000;
    padding: .5rem;
}

label {
    letter-spacing: 1px;
}

