

h1{
    color: red;
}
h2{
    color:darkred;
}

.container {
    padding: 10px;
    border: 5px solid #ff0000;
    border-radius: 10px;
    width: max-content;
}

.form-container {
    font-size: 18px;
    position: relative;
    margin-inline: 3rem;
    width: max-content;
}



input {
    border-radius: 50px;
    border: 2px solid #ff0000;
    padding: .5rem;
    transition: 2s background ease;
    text-decoration: none;
}

input:focus {
    outline: none;
}

    input:hover {
        background-color: red;
        color: black;
    }
span{
    color:darkred;
    font-size:small;
}
  
select {
    border-radius: 50px;
    border: 2px solid #ff0000;
    padding: .5rem;
}

label {
    letter-spacing: 1px;
}

