

h1{
    color: red;
}
h2{
    color:darkred;
}

.container {
    background-image:url(../img/RedBull.jpg);
    padding:0;
    margin:0;
}

form {
    font-size: 18px;
}

input {
    border-radius: 50px;
    border: 2px solid #ff0000;
    padding: .5rem;
    transition: 2s background ease;
}

    input:hover {
        background-color: red;
        color: black;
    }
span{
    color:darkred;
    font-size:small;
}
  
select {
    border-radius: 50px;
    border: 2px solid #ff0000;
    padding: .5rem;
}

label {
    letter-spacing: 1px;
}

