
@{
    ViewData["Title"] = "Index";
}

<div class="welcomeBox">
    <h1>Herzlich Willkommen!</h1> <br />
    <p>Auf dieser Seite erfahren Sie alles über die Formel 1.</p>
    <p>Neben den aktuellen News und Ranglisten können Sie auch auf unserem Fanshop stöbern.</p>
</div>

<div class="imageBox">
    
</div>