
@{
    ViewData["Title"] = "News";
}

<h1>News</h1>

<div class="discusBox">
    <img src=""> <!-- just for testing -->

    <div class="discusTitle">
        <h3>Max Verstappen gegen Lewis Hamilton: Anhörung der FIA</h3> <!-- just for testing -->
    </div>

    <div class="discusBrief">
        <p>Here we are talking about something. and this is the short brief about it.</p>
        <!-- just for testing -->
    </div><!-- end of discusBrief -->

    <div class="discusMeta">

        <div class="discusMetaPostedOn">
            <span>Posted on</span>
            <span class="discusMetaPostedOnDate">
                4/4/1984 <!-- just for testing -->
            </span>
        </div>

        <div class="discusBy">
            <span>by</span>
            <span>
                Firstname Surname <!-- just for testing -->
            </span>
        </div>

        <div class="discusLink">
            <a href="#">View &rarr;</a> <!-- just for testing -->
        </div>

    </div><!-- end of discusMeta -->
</div>