@model Article

@{
    ViewData["Title"] = "articleDetail";
}

  

<!DOCTYPE html>
<link rel="stylesheet" href="~/css/articleDetail.css">
<html>
<head>
</head>
<body>
    <div class="detail">
        <a class="aBack" href="/shop/index"><img class="back" src="/img/back.png" width="23" height="23" /></a> <br> <br>
        <br><br>
        <img class="img" src="/McLaren.png" />
        <br> <br>
        <div class="dverf"><p>noch Verfügbar:</p> <b>@Model.Elemente</b></div>
        <br>
        <div class="dpreis"><b>@Model.Preis</b></div>
        <br>
        <div class="purchaseBtn">
            <a href="">
                <div id="wk" class="wkbutton"><b>Zum Warenkorb hinzufügen</b></div>      <!-- wk ... Warenkorb -->
            </a>
            <br>
            <a href="">
                <div id="buyNow" class="wkbutton"><b>Jetzt kaufen</b></div>
            </a>
        </div>
    </div>

</body>
</html>