
@{
    ViewData["Title"] = "Index";
}

<h1>Unser Fanshop</h1>

<link rel="stylesheet" href="~/css/shop.css" />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="" id="articlelink">
                <img src="/img/McLaren.png" width="100" height="100" />
                <br />
                McLaren Schildkappe
            </a>
        </div>
        <div class="col-sm">
            <a href="" id="articlelink">
                <img src="/img/McLaren.png" width="100" height="100" />
                <br />
                anderer Artikel
            </a>
        </div>
        <div class="col-sm">
            <a href="" id="articlelink">
                <img src="/img/McLaren.png" width="100" height="100" />
                <br />
                anderer Artikel
            </a>
        </div>
        <div class="col-sm">
            <a href="" id="articlelink">
                <img src="/img/McLaren.png" width="100" height="100" />
                <br />
                anderer Artikel
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <a href="" id="articlelink">
                <img src="/img/McLaren.png" width="100" height="100" />
                <br />
                anderer Artikel
            </a>
        </div>
        <div class="col-sm">
            <a href="" id="articlelink">
                <img src="/img/McLaren.png" width="100" height="100" />
                <br />
                anderer Artikel
            </a>
        </div>
        <div class="col-sm">
            <a href="" id="articlelink">
                <img src="/img/McLaren.png" width="100" height="100" />
                <br />
                anderer Artikel
            </a>
        </div>
        <div class="col-sm">
            <a href="" id="articlelink">
                <img src="/img/McLaren.png" width="100" height="100" />
                <br />
                anderer Artikel
            </a>
        </div>
    </div>
</div>
