<h1>Hier können Sie sich registrieren und einloggen!</h1>

<div class="container" style="padding-top: 60px">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <a href="/user/registration"><font size="5"><b>Benutzer erstellen</b></font></a>
        </div>
        <div class="col-sm-4">
            <a href="/user/Login"><font size="5"><b>Anmelden</b></font></a>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
